@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "animation";

.header {
  position: relative;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  &__inner {
    max-width: 1460px;
    width: 100%;
    left: 50%;
    margin: 0 auto;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d252b;
    padding: 10px 30px;
  }
  &__phone,
  &__phone-link {
    color: #919ba2;
    font-size: 14px;
  }
  &__phone-link {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
  &__phone-link + .header__phone-link {
    margin-left: 10px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-link {
    line-height: 0;
    path:nth-child(2) {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      path:nth-child(2) {
        fill: $accent;
      }
    }
  }
  &__social-link + .header__social-link {
    margin-left: 15px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 55px;
    background-color: #282f34;
    transition: all 0.5s ease-in-out;
  }
  &__bottom-item:nth-child(2) {
    margin-left: auto;
    margin-right: 50px;
  }
  &__bottom-btn {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    display: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
      right: 0;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      top: 0;
      width: 15px;
    }
    &::after {
      bottom: 0;
      width: 10px;
    }
    span {
      position: absolute;
      top: 9px;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
    }
    &.--active {
      span {
        display: none;
      }
      &::before,
      &::after {
        width: 100%;
      }
      &::before {
        transform: rotate(-45deg) translateX(-50%);
      }
      &::after {
        transform: rotate(45deg) translateX(-50%);
      }
    }
  }
  &__btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: $accent;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    &:hover {
      background-color: $hover;
    }
  }
  &.scroll-header {
    .header__inner {
      transform: translateY(-44px);
    }
    .header__bottom {
      padding: 10px 15px 10px 55px;
    }
  }
}

.nav {
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item + .nav__item {
    margin-left: 10px;
  }
  &__link {
    color: #919ba2;
    font-weight: 700;
    padding: 15px 5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $accent;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: $accent;
    }
    &:hover::before {
      width: 100%;
    }
    &.--active::before {
      width: 100%;
    }
  }
}

.hero {
  &__item {
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
      z-index: 1;
    }
  }
  &__slider-content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 277px auto;
  }
  &__slider-title {
    font-size: 100px;
    color: #fff;
    line-height: 1;
    margin-bottom: 25px;
    position: relative;
  }
  &__slider-subtitle {
    font-size: 30px;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__slider-text {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
  }
  &__slider-btn {
    align-self: flex-start;
    padding: 20px 40px;
    border: 2px solid $accent;
    transition: all 0.3s ease-in-out;
    color: #fff;
    &:hover {
      background-color: $accent;
    }
  }
  &__bottom-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -180px;
    z-index: 10;
    position: relative;
  }
  &__video {
    width: 470px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
  }
  &__video-text {
    color: #fff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
    z-index: 10;
  }
  &__video-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $accent;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    border: none;
    cursor: pointer;
    svg path {
      transition: all 0.3s ease-in-out;
    }
  }
  &__video:hover .hero__video-btn {
    background-color: $hover;
  }
  &__video:hover .hero__video-btn path:nth-child(2) {
    fill: rgb(36, 36, 36);
  }
  &__video-link {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000, $alpha: 0.5);
    position: absolute;
    z-index: 2;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &__bottom-control {
    width: 460px;
    height: 130px;
    background-color: #282f34;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-pagination {
      position: relative;
      left: 0;
      top: 0;
      width: auto;
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #c7c7c7;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $accent;
      }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $accent;
    }
    .swiper-pagination-bullet-active {
      position: relative;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid $accent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin: 0 0 0 30px;
    }
  }
  &__bottom-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    padding-left: 105px;
    line-height: 0;
    &::before {
      content: "";
      width: 75px;
      height: 1px;
      background-color: #3f4041;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.describe {
  &__items {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, auto);
  }
  &__description {
    padding: 30px 30px 30px 0;
  }
  &__title {
    font-size: 34px;
    margin-bottom: 15px;
  }
  &__main-text {
    line-height: 1.4;
    font-size: 20px;
  }
  &__main-text + .describe__main-text {
    margin-top: 15px;
  }
  &__subtitle {
    position: relative;
    margin-bottom: 10px;
    font-size: 28px;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      right: -44px;
      top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
    }
  }
  &__text {
    font-size: 16px;
  }
  &__text + .describe__text {
    margin-top: 10px;
  }
  &__gift {
    grid-row: span 2;
    background-image: url(../images/describe__gift-img.jpg);
    background-size: cover;
    width: 492px;
    padding: 30px;
    border-radius: 6px;
  }
  &__care {
    background-image: url(../images/describe__care-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 235px 10px 30px;
    border-radius: 6px;
  }
  &__gift-title::before {
    background-image: url(../images/gift-line.svg);
  }
  &__care-title::before {
    background-image: url(../images/drop-line.svg);
  }
}

.specs {
  background-color: #1d252b;
  padding: 80px 0;
  &__title {
    color: #fff;
    font-size: 40px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__set {
    width: 290px;
    min-width: 290px;
    margin-right: -60px;
    padding-top: 100px;
  }
  &__set-title {
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: #919ba2;
  }
  &__set-item {
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    border-radius: 6px;
    position: relative;
    z-index: 10;
    span {
      font-size: 16px;
      color: #626262;
      margin-top: 10px;
    }
  }
  &__set-florarium {
    background-image: url(../images/specs_set-florarium.jpg);
  }
  &__set-cap {
    background-image: url(../images/specs_set-cap.jpg);
  }
  &__set-booklet {
    background-image: url(../images/specs_set-booklet.jpg);
  }
  &__set-charging {
    background-image: url(../images/specs_set-charging.jpg);
  }
  &__set-item + .specs__set-item {
    margin-top: 20px;
  }
  &__set-text {
    color: #fff;
    font-size: 20px;
    padding-right: 100px;
  }
  &__img-box {
    width: 716px;
    height: 842px;
    position: relative;
  }
  &__img {
    position: absolute;
    z-index: 5;
    width: 716px;
    height: 842px;
    transition: all 0.3s ease-in-out;
  }
  &__img-on {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &__img-box.--active .specs__img-on {
    opacity: 1;
  }
  &__structure {
    padding-top: 100px;
    margin-left: -40px;
  }
  &__structure-lighting {
    margin-bottom: 90px;
    max-width: 260px;
  }
  &__structure-cap {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    color: #fff;
    position: relative;
  }
  &__structure-text {
    font-size: 15px;
    color: #b0b0b0;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
  }
  &__structure-switch {
    width: 150px;
    height: 75px;
    background-color: #181818;
    position: relative;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
  }
  &__structure-btn {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1d252b;
    border: 6px solid #181818;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2px;
    transition: all 0.3s ease-in-out;
    svg,
    path:nth-child(2) {
      transition: all 0.3s ease-in-out;
    }
  }
  &__structure-switch.--active .specs__structure-btn {
    left: 75px;
  }
  &__structure-switch.--active path:nth-child(2) {
    fill: rgba(255, 255, 255, 0.7);
  }
  &__structure-switch.--active svg {
    filter: drop-shadow(0 0 10px #fff);
  }
  &__structure-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    padding-left: 30px;
    position: relative;
  }
  &__structure-cap::before,
  &__structure-title::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    background-color: #575757;
    left: -249px;
    top: 50%;
  }
  &__structure-cap::after,
  &__structure-title::after {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
  }
  &__structure-cap::after {
    background-image: url(../images/structure-cap-icon.svg);
    background-size: 80%;
  }
  &__structure-plants::after {
    background-image: url(../images/structure-plants-icon.svg);
  }
  &__structure-moss::after {
    background-image: url(../images/structure-moss-icon.svg);
  }
  &__structure-substrate::after {
    background-image: url(../images/structure-substrate-icon.svg);
  }
  &__structure-sphagnum::after {
    background-image: url(../images/structure-sphagnum-icon.svg);
  }
  &__structure-drainage::after {
    background-image: url(../images/structure-drainage-icon.svg);
  }
}

.classic {
  overflow: hidden;
  &__text-box {
    position: relative;
    margin-bottom: 40px;
  }
  &__text {
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    color: #848484;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 30px;
      height: 1px;
      background-color: #848484;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 40px;
    color: #848484;
  }
  &__control {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  &__button-next,
  &__button-prev {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  &__button-prev {
    margin-right: 10px;
  }
  &__slider {
    transform: translateX(120px);
    user-select: none;
  }
  &__item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
  }
  &__item-text {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
  }
  &__name {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__price {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  &__price-new {
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
  }
  &__price-old {
    color: #e1e1e1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: #e1e1e1;
    }
  }
  &__btn {
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: $accent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $hover;
    }
  }
}

.flowers {
  &__title {
    font-size: 200px;
    color: $accent;
    text-align: left;
    align-items: center;
    line-height: 1;
    span {
      font-size: 60px;
      display: block;
      margin-bottom: -36px;
      margin-left: 15px;
    }
  }
  &__subtitle {
    text-align: right;
    font-size: 31px;
    margin-bottom: 70px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    position: relative;
    height: 390px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
    height: 780px;
  }
  &__item:nth-child(3) {
    grid-row: span 2;
    height: 780px;
  }
  &__item:nth-child(7) {
    grid-column: span 2;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    z-index: 10;
    color: #fff;
  }
  &__name {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
  }
  &__price {
    margin-bottom: 15px;
    font-size: 22px;
  }
  &__new-price {
    margin-right: 5px;
  }
  &__old-price {
    position: relative;
    color: #c7c7c7;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #c7c7c7;
      top: 50%;
      left: 0;
    }
  }
  &__btn {
    display: inline-block;
    text-align: center;
    padding: 20px 70px;
    background-color: $accent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $hover;
    }
  }
}

.reviews {
  &__wrapper {
    position: relative;
  }
  &__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__gallery {
    margin-bottom: 50px;
  }
  &__gallery-img {
    border-radius: 10px;
    user-select: none;
  }
  &__gallery-next,
  &__gallery-prew {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 50px;
    background-color: $accent;
    border-radius: 6px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $hover;
    }
  }
  &__gallery-next {
    right: -80px;
    padding-left: 4px;
  }
  &__gallery-prew {
    left: -80px;
    padding-right: 4px;
  }
  &__vk {
    text-align: center;
  }
  &__vk-link {
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-52%);
      width: 20px;
      height: 20px;
      background-image: url(../images/vk.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.order {
  padding: 100px 0;
  background-color: #131313;
  &__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
  }
  &__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    gap: 20px;
  }
  &__step {
    height: 367px;
    padding: 20px 15px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__step:nth-child(1) {
    background-image: url(../images/order/step-1.png);
  }
  &__step:nth-child(2) {
    background-image: url(../images/order/step-2.png);
  }
  &__step:nth-child(3) {
    background-image: url(../images/order/step-3.png);
  }
  &__step:nth-child(4) {
    background-image: url(../images/order/step-4.png);
  }
  &__step-title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
  }
  &__step-text {
    font-size: 16px;
    color: #b0b0b0;
  }
  &__inner {
    text-align: center;
  }
  &__btn {
    display: inline-block;
    padding: 30px 60px;
    background-color: $accent;
    font-size: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    &:hover {
      background-color: $hover;
    }
  }
  &__protection {
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-left: 24px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url(../images/protection.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.faq {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__accordion {
    min-width: 640px;
    width: 640px;
    margin-right: 80px;
  }
  &__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__accordion-item {
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__accordion-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__accordion-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    svg path:nth-child(2) {
      transition: all 0.3s ease-in-out;
    }
  }
  &__accordion-question:hover .faq__accordion-icon {
    background-color: $accent;
    svg path:nth-child(2) {
      fill: #fff;
    }
  }
  &__accordion-question.--active .faq__accordion-icon {
    transform: rotate(45deg);
  }
  &__accordion-answer {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    padding-right: 50px;
    p + p {
      margin-top: 10px;
    }
  }
  &__contact {
    padding: 30px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
  }
  &__contact-title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__contact-subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__contact-input {
    display: block;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    outline: none;
    margin-bottom: 10px;
  }
  &__contact-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: $accent;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 10px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $hover;
    }
  }
  &__contact-text {
    font-size: 18px;
  }
  &__contact-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  &__contact-messenger {
    display: flex;
    align-items: center;
    min-width: fit-content;
  }
  &__contact-whatsapp,
  &__contact-telegram {
    width: 50px;
    height: 50px;
    background-color: $accent;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $hover;
    }
  }
  &__contact-whatsapp {
    margin-right: 5px;
  }
}

.contact {
  margin-bottom: 200px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__inner {
    min-width: 500px;
    width: 500px;
    margin-right: 40px;
    margin-top: 54px;
  }
  &__title {
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 70px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 3px;
      bottom: -28px;
      left: 5px;
      background-color: $accent;
    }
  }
  &__tel {
    font-size: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      width: 40px;
      height: 40px;
      background-image: url(../images/phone.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__time {
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  &__mail {
    font-size: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      width: 40px;
      height: 40px;
      background-image: url(../images/mail.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__adress {
    font-size: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-left: 50px;
    display: inline-block;
    display: block;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 40px;
      height: 40px;
      background-image: url(../images/map-pin.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  span {
    font-size: 16px;
    display: block;
  }
  &__btn {
    display: inline-block;
    padding: 20px 80px;
    transition: all 0.3s ease-in-out;
    background-color: $accent;
    color: #fff;
    &:hover {
      background-color: $hover;
    }
  }
  &__img-box {
    position: relative;
  }
  &__img-inner {
    position: absolute;
    height: 330px;
    width: 570px;
  }
  &__img-inner:nth-child(1) {
    top: 0;
    right: 54px;
  }
  &__img-inner:nth-child(2) {
    top: 25%;
    right: -55px;
  }
  &__img-inner:nth-child(3) {
    top: 56%;
    right: 90px;
  }
  &__img {
    box-shadow: 0 0 19px rgba(46, 184, 114, 0.3);
  }
}

.footer {
  background-color: #131313;
  color: #b0b0b0;
  &__wrapper {
    padding: 50px 30px;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item-text {
    font-size: 18px;
    display: block;
    margin-left: 30px;
  }
  &__item-link {
    margin-left: 30px;
    display: block;
    font-size: 15px;
  }
  &__item-btn {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border: 1px solid $accent;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    line-height: 0.5;
    &:hover {
      background-color: $hover;
      svg {
        fill: #fff;
      }
    }
    svg {
      transition: all 0.3s ease-in-out;
    }
    span + span {
      margin-left: 10px;
    }
  }
  &__item:last-child {
    margin-left: auto;
    text-align: center;
    font-size: 14px;
    span {
      display: block;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  }
  &__content {
    position: relative;
    max-width: 530px;
    background-color: #fff;
    padding: 30px;
  }
  &__close {
    right: 0;
    top: -40px;
    position: absolute;
    width: 32px;
    height: 32px;
    svg path:nth-child(2) {
      transition: all 0.3s ease-in-out;
    }
  }
  &__close:hover path:nth-child(2) {
    fill: #fff;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.contact-form {
  &__input {
    display: block;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #e1e1e1;
    outline: none;
  }
  &__input + .contact-form__input {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__input:focus {
    border-radius: 0;
    border-color: #333333;
  }
  &__btn {
    padding: 20px 50px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: $accent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $hover;
    }
  }
}

.modal-video-close-btn {
  cursor: pointer;
}

@import "media";
